<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../estilos.css">
    <title><%= title %></title>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <!-- Always remember to call the above files first before calling the bootstrap.min.js file -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    
</head>
<body>
  
   <nav class="navbar bg-light">
    <div class="container-fluid">
      <a class="navbar-brand text-dark"><img src="/images/logo300x300.png" width="80" height="70"> Poder Judicial del Estado de Nayarit</a>
      
      <p class="text-center">
        Bienvenido: <%= usuario.username %>
        Fecha: <%= fechastring %>
        Trimestre: <%= usuario.trimestre %>
        
      </p>
      <form class="d-flex">
        <button type="button" class="btn btn-light" data-toggle="modal" data-target="#modalContra"
        href="/cambiarcontra"><i class="bi bi-person-fill-gear"></i></button>
        <a class="btn btn-outline-dark" href="/login">Cerrar Sesión</a>
      </form>
    </div>
  </nav>


  <!--Modal cambio de contraseña-->
  <div class="modal fade" id="modalContra" tabindex="-1" role="dialog" aria-laberlledby="tituloVentana" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="tituloVentana">Cambiar contraseña</h5>
                <button class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <p class="card-text">
                        <form method="post" action="/users/cambiocontra" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="txtcontra" class="form-label">Ingrese la nueva contraseña</label>
                                <input class="form-control" type="password" id="txtcontra" name="contra" required></input>
                            </div>
                            <div class="modal-body">
                              <div class="alert">
                                  <div class="form-group">
                                      <p>El cambio de la contraseña se efectuará en cuanto presione el botón de guardar. Proceda con precaución.</p>
                                  </div>
                              </div>
                          </div>
                            <input type="hidden" name="username" value="<%=usuario.username%>"/>
                            <button class="btn btn-outline-info" type="submit"><img src="/images/guardar.png" width="20"></button>
                        </form>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>