<%- include layouts/cabecera.ejs %>
<div class="card text-black bg-transparent mb-3">
    <div class="card-header">Responsables</div>
    <div class="card-body">
        <h5 class="card-title">Asignados</h5>
        <p class="card-text">
            <table class="table table-light">
                <thead class="thead-light">
                    <tr>
                        <th>ID</th>
                        <th>Descripción</th>
                        <th>Usuario</th>
                        <th>Área</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    
                    <% for( let x = 0;x < responsables.length; x++) { %>
                    <tr>
                        <td><%=responsables[x].responsable_id %></td>
                        <td><%=responsables[x].responsable_desc %></td>
                        <td><%=responsables[x].responsable_usuario %></td>
                        <td><%=responsables[x].area_nombre %></td>
                        <td> 
                            <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                                <button class="btn btn-light" data-toggle="modal" data-target="#ventanaEdicion<%=x%>">
                                    <i class="bi bi-pencil"></i>
                                </button>
                            </div>
                            <!--
                            <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                                <form class="form-inline" method="post" action="/responsables/desasignar/<%=responsables[x].responsable_id %>">
                                    <button class="btn btn-light" type="submit"><i class="bi bi-unlock"></i></button>
                                </form>
                            </div>
                            -->
                        </td>
                    </tr>

                    <!-- MODAL DE EDICION-->
                    <div class="modal fade" id="ventanaEdicion<%=x%>" tabindex="-1" role="dialog" aria-laberlledby="tituloVentana" aria-hidden="true">
                        <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 id="tituloVentana">Editar unidad</h5>
                                    <button class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="card-body">
                                        <h5 class="card-title">Responsables</h5>
                                        <p class="card-text">
                                            <form method="post" action="responsables/actualizar" enctype="multipart/form-data">
                                                <input type="hidden" name="respoid" value="<%=responsables[x].responsable_id%>"/>
                                
                                                <div class="form-group">
                                                    <label for="my-input">Descripción Usuario</label>
                                                    <input id="my-input" class="form-control" type="text" name="respodesc" value="<%=responsables[x].responsable_desc%>"/>
                                                </div>
                                
                                                <div class="form-group">
                                                    <label for="my-input">Usuario</label>
                                                    <input id="my-input" class="form-control" type="text" name="respouser" value="<%=responsables[x].responsable_usuario%>"/>
                                                </div>
                                
                                                
                                                <div class="form-group">
                                                    <label for="my-input">Contraseña</label>
                                                    <input id="my-input" class="form-control" type="password" name="respopass" value="<%=responsables[x].responsable_contra%>"/>
                                                </div>
                                                <button class="btn btn-light" type="submit"><img src="/images/guardar.png" width="20"></button>
                                            </form>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <% } %>
                </tbody>
            </table>
        </p>

        <div class="card-body">
            <h5 class="card-title">Disponibles</h5>
            <table class="table table-light">
                <thead class="thead-light">
                    <tr>
                        <th>ID</th>
                        <th>Descripción</th>
                        <th>Usuario</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    
                    <% for( let x = 0;x < responsablesd.length; x++) { %>
                    <tr>
                        <td><%=responsablesd[x].responsable_id %></td>
                        <td><%=responsablesd[x].responsable_desc %></td>
                        <td><%=responsablesd[x].responsable_usuario %></td>
                        <td align="right"> 

                            
                            <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                                <button class="btn btn-light" data-toggle="modal" data-target="#ventanaAsignacion<%=x%>">
                                    <i class="bi bi-lock"></i>
                                </button>
                            </div>

                            <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                                <button class="btn btn-light" data-toggle="modal" data-target="#ventanaEdicionDisponibles<%=x%>">
                                    <i class="bi bi-pencil"></i>
                                </button>
                            </div>

                            <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                                <form class="form-inline" method="post" action="/responsables/eliminar/<%=responsablesd[x].responsable_id %>">
                                    <button class="btn btn-light" type="submit"><i class="bi bi-trash"></i></button>
                                </form>
                            </div>
                        </td>
                    </tr>

                    <!-- MODAL DE EDICION DISPONIBLES-->
                    <div class="modal fade" id="ventanaEdicionDisponibles<%=x%>" tabindex="-1" role="dialog" aria-laberlledby="tituloVentana" aria-hidden="true">
                        <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 id="tituloVentana">Editar unidad</h5>
                                    <button class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="card-body">
                                        <h5 class="card-title">Responsables</h5>
                                        <p class="card-text">
                                            <form method="post" action="responsables/actualizar" enctype="multipart/form-data">
                                                <input type="hidden" name="respoid" value="<%=responsablesd[x].responsable_id%>"/>
                                
                                                <div class="form-group">
                                                    <label for="my-input">Descripción Usuario</label>
                                                    <input id="my-input" class="form-control" type="text" name="respodesc" value="<%=responsablesd[x].responsable_desc%>"/>
                                                </div>
                                
                                                <div class="form-group">
                                                    <label for="my-input">Usuario</label>
                                                    <input id="my-input" class="form-control" type="text" name="respouser" value="<%=responsablesd[x].responsable_usuario%>"/>
                                                </div>
                                
                                                
                                                <div class="form-group">
                                                    <label for="my-input">Contraseña</label>
                                                    <input id="my-input" class="form-control" type="password" name="respopass" value="<%=responsablesd[x].responsable_contra%>"/>
                                                </div>
                                                <button class="btn btn-light" type="submit"><img src="/images/guardar.png" width="20"></button>
                                            </form>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 

                    <!-- MODAL DE ASIGNACION-->
                    <div class="modal fade" id="ventanaAsignacion<%=x%>" tabindex="-1" role="dialog" aria-laberlledby="tituloVentana" aria-hidden="true">
                        <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 id="tituloVentana">Asignar</h5>
                                    <button class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <% if(disponibles.length==0){ %>
                                        <h2>No hay áreas disponibles</h2>
                                    <% }else{ %>
                                    <h3>Seleccione el área a la cual se asignará el usuario: 
                                        <h3 class="text-danger"> <%=responsablesd[x].responsable_usuario %></h3> 
                                    </h3>
                                    <div class="list-group">
                                        <% for(let x=0;x < disponibles.length; x++){ %>
                                            <form class="form-inline" method="post" action="responsables/asignar/<%=disponibles[x].area_id%>&<%=responsablesd[x].responsable_id%>">
                                                <button type="submit" class="list-group-item list-group-item-action"><%=disponibles[x].area_nombre %></button>
                                            </form>  
                                        <% } %>
                                        
                                    </div>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <% } %>
                </tbody>
            </table>
        </div>
        <a class="btn btn-light float-right" type="button" data-toggle="modal" data-target="#ventanaCreacion">
            <i class="bi bi-plus-circle"></i>
        </a>
    </div>  
</div>

<div class="modal fade" id="ventanaCreacion" tabindex="-1" role="dialog" aria-laberlledby="tituloVentana" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="tituloVentana">Agregar nuevo Responsable </h5>
                <button class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <p class="card-text">
                        <form method="post" action="/responsables" enctype="multipart/form-data">
            
                            <div class="form-group">
                                <label for="my-input">Descripción</label>
                                <input id="my-input" class="form-control" type="text" name="respodesc"/>
                            </div>
                            
                            <div class="form-group">
                                <label for="my-input">Usuario</label>
                                <input id="my-input" class="form-control" type="text" name="respouser"/>
                            </div>
            
                            <div class="form-group">
                                <label for="my-input">Contraseña</label>
                                <input id="my-input" class="form-control" type="password" name="respopass"/>
                            </div>
                            <button class="btn btn-outline-info" type="submit"><img src="/images/guardar.png" width="20"></button>
                        </form>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div> 
<%- include layouts/pie.ejs %>  